:root{

    font-size: 16px;
    
    /* ### Primary */

    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);

    /* ### Neutral */

    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    /* ### Gradients */

    /* #grad {
        background-image: linear-gradient(180deg, red, blue);
    } */

    /* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%); */

    /* - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utility classes */

.m-1{
    margin: 1.5rem;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



header{
    text-align: left;
    align-self: self-start;
}

.hero{
    width: 100%;
}

.content{
    width: 300px;
}

h1{
    font-size: 3.2rem;
    /* margin: 1.5rem; */
    font-weight: 600;
    margin-top: 4rem;
    /* width: 300px; */
    /* border: 1px solid red; */
    text-transform: uppercase;
}

span{
    color: var(--Desaturated-Red);
    font-weight: 300;
}

p{
    font-weight: 400;
    /* width: 300px; */
    margin-top: 1.5rem;
    color: var(--Desaturated-Red);
    line-height: 1.5;
    /* border: 1px solid green; */
}

.inputForm{
    /* border: 2px solid red; */
    padding: 0 20px;
    position: relative;
    width: 300px;
    height: 3rem;
    margin-top: 0;
    transition: left 2s ease-in-out;

}

input{
    outline: none;
    display: block;
    background-color: inherit;
    width: 100%;
    height: 3rem;
    border: 1px solid var(--Desaturated-Red);
    padding: 10px 20px;
    margin: 2.5rem 0;
    border-radius: 40px;
    color: var(--Desaturated-Red);
}

.input-error{
    border: 3px solid var(--Soft-Red);
}

button{
    /* display: none; */
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    width: 5rem;
    height: 3rem;
    border-radius: 40px;
    /* border: 0.2px solid var(--Desaturated-Red); */
    position: relative;
    /* bottom: 0px;
    right: 18px; */
    bottom: 87px;
    left: 120px;
    cursor: pointer;
    z-index: 10;
}

button:hover{
    background-image: none;
    background-color:  hsl(0, 80%, 86%);
}


#error{
    position: absolute;
    top: 70px;
    left: 40px;
}

.errorIcon{
    position: absolute;
    top: 55px;
    right: 55px;
}

.btn-error{
    left: 140px;
}

.attribution {  
    font-size: 11px; 
    text-align: center; 
    margin-top: 4rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}



::placeholder{
    color: var(--Desaturated-Red);
}

::-webkit-input-placeholder{
    color: var(--Desaturated-Red);
}

:-moz-placeholder{
    color: var(--Desaturated-Red);
}

::-moz-placeholder{
    color: var(--Desaturated-Red);
}

:-ms-input-placeholder{
    color: var(--Desaturated-Red);
}

@media(min-width:375px) {
    .hero{
        width: 100%;
        /* object-fit: contain; */
        height: 400px;
        overflow: hidden;
        /* border: 4px solid red; */
    }

    .btn-error{
        left: 240px;
    }
    
}

@media(min-width:725px) {

    .m-1{
        margin-left: 5%;
    }

    body{
        text-align: left;
        background-image: url('./images/bg-pattern-desktop.svg');
    }

    .responsive {
        width: 100%;
        max-width: 600px;
        /* height: 800px; */
        /* object-fit: fill; */
      }

    .logo { 
        /* grid-area: header;  */
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        /* max-width: 500px; */
        height: 50px;
        width: 300px;
        /* margin-left: 30%; */
        justify-self:flex-start;
        margin-top: 2.5rem;
        margin-bottom: 0;

    }
    .hero { 
        /* grid-area: hero;  */
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        /* max-width: 500px; */
        justify-self: center;
        align-self: self-start;
        height: 100%;


    }
    .content { 
        /* grid-area: article;  */
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        /* max-width: 500px; */
        height:300px;
        justify-self: flex-start;
        align-self: flex-end;
        /* margin: 0; */
    }

    h1{
        margin-top: 1rem;
    }

    .inputForm { 
        /* grid-area: form;*/
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;  
        /* max-width: 500px; */
        justify-self: flex-start;
        align-self: flex-start;
        padding: 0;
    }

    input{
        margin: 0;
    }

    button{
        left: 240px;
        bottom: 48px;
    }

    .btn-error{
        left: 260px;
    }

    #error{
        position: absolute;
        top: 30px;
        left: 40px;
    }
    
    .errorIcon{
        position: absolute;
        top: 15px;
        right: 45px;
    }

    .container{
        /* width: 100%; */
        display: grid;
        /* grid-template-areas:
        header hero
        article hero
        form hero; */
        justify-content: center;
        /* grid-template-columns: 1fr minmax(100px, 600px); */
        grid-template-columns: 1fr 1fr;

        grid-template-rows: 70px 400px auto;
       
    }
    
}

@media(min-width:1050px){
    .m-1{
        margin-left: 30%;
    }

    .container{
        grid-template-columns: 1fr minmax(100px, 600px);
    }
}